

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登入</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/Content/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/layuiadmin/style/admin.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/layuiadmin/style/login.css" media="all">
    <script src="~/Content/jquery-3.4.1.min.js"></script>
    <script src="~/Content/axios.min.js"></script>
    <script src="~/Content/api.js"></script>
</head>
<body>

    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>用户登录</h2>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form" style="background-color:white">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                    <input type="text" name="UserName" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                    <input type="password" name="PassWord" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 入</button>
                </div>
            </div>
        </div>

        <div class="layui-trans layadmin-user-login-footer">

            <p><a href="https://github.com/Xiao2Xiao2/MyTest" target="_blank">xixi.com</a></p>
        </div>
    </div>

    <script src="~/Content/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../Content/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'user'], function () {
            var $ = layui.$
                , setter = layui.setter
                , admin = layui.admin
                , form = layui.form
                , router = layui.router()
                , search = router.search;
            form.render();
            //axios.post('/Login/AjaxLogin', { UserName: 'admin', PassWord: '123456' }).then(function (response) {
            //    console.log(response);
            //}).catch(function (error) {
            //    console.log(error);
            //});
            //提交
            form.on('submit(LAY-user-login-submit)', function (obj) {
                axios.post('/Login/AjaxLogin', obj.field).then(function (response) {
                    console.log(response)
                    var result = response.data;
                    if (result.code == 0) {
                        layer.msg(result.msg, {
                            icon: 6,
                            time: 2000,
                        }, function () {
                                layer.msg("跳转", {
                                    icon: 6
                                });
                        });
                    } else {
                        layer.msg(result.msg, {
                            icon: 5
                        });
                    }
                }).catch(function (error) {
                    console.log(error);
                });
                //请求登入接口
             
                //$.ajax({
                //    type: "post",
                //    async: false,
                //    url: "/Login/AjaxLogin",
                //    data: { UserName: 'admin', PassWord: '123456' },
                //    dataType: "json",
                //    success: function (data, textStatus) {

                //    }
                //});
                //admin.req({
                //  url: layui.setter.base + 'json/user/login.js' //实际使用请改成服务端真实接口
                //  ,data: obj.field
                //  ,done: function(res){

                //    //请求成功后，写入 access_token
                //    layui.data(setter.tableName, {
                //      key: setter.request.tokenName
                //      ,value: res.data.access_token
                //    });

                //    //登入成功的提示与跳转
                //    layer.msg('登入成功', {
                //      offset: '15px'
                //      ,icon: 1
                //      ,time: 1000
                //    }, function(){
                //      location.href = '../'; //后台主页
                //    });
                //  }
                //});

            });

        });
       
    </script>
</body>
</html>